body {
  background-color: #f7e4d4;
}
h1 {
  font-size: 48px;
  color: #467745;
  text-align: center;
}
.Tárgy {
  font-size: 16px;
  position: static;
}
.also {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input {
  font-size: 16px;
  max-width: 480px;
  max-height: 64px;
}
input.text {
  color: #467745;
}
